extends layout

block content
  .well.content-well
    h1 What is soundtrack.io?
    p Soundtrack.io is a collaborative online jukebox.  It's a way to listen to music with your friends.  It's also <a href="http://github.com/martindale/soundtrack.io">open-source</a>.
    h2 How does it work?
    p When you first visit soundtrack.io, you'll be listening to the "current playlist".  You (and anyone else) can add a song of your choosing to the end of the current playlist.
    p Users can also vote to influence the order of songs on the list (or remove them entirely), which helps keep a smooth flowing transition between songs.