script(src="/js/jquery.min.js")
script(src="/js/angular.min.js")
script(src="/js/jquery.cookie.js")
script(src="//www.google.com/jsapi")
script(src="http://cdn.sockjs.org/sockjs-0.3.min.js")
script(src="/js/android.js")

h3#track-title --
h2 Played by: 
  span#track-curator --
