script(src="/js/jquery.min.js")
script(src="/js/angular.min.js")
script(src="/js/jquery.cookie.js")
script(src="//www.google.com/jsapi")
script(src="http://cdn.sockjs.org/sockjs-0.3.min.js")
script(src="/js/android.js")

h2 Android-only page
h3#track-title --

a(href="javascript:void(0);", onclick="activity.showLog('omg its working!');") Click on this link for a log message