extends layout

block content
  .well.content-well
    img.avatar-large.pull-left(src="#{artist.image.url}")

    h1 #{artist.name}
    .artist-bio !{artist.bio}

    h5 #{tracks.length} known tracks
    table.table
      thead
        tr
          th Artist
          th Title
          th Length
          th Stats
          th Controls
      tbody
        for track in tracks
          include partials/track-row
