extends layout

block content

  .well.content-well
    h1 Track History

    table.table.tablesorter
      thead
        tr
          th Who
          th When
          th Artist
          th Title
          th Controls
      tbody
        for play in plays
          include partials/play-row