extends layout

block content

  .well.content-well
    h1 Track History
    p Tracks are only added to the play history under the following conditions:
      ul
        li track is longer than 30 seconds
        li 50% or 4 minutes of the track is played, whichever is first.
    p This helps the machine ignore tracks that were skipped or were too short!

    table.table.tablesorter
      thead
        tr
          th Who
          th When
          th Artist
          th Title
          th Room
          th Controls
      tbody
        for play in plays
          include partials/play-row
