extends layouts/media

block content
  h1 yo
  
  .player
    video

block scripts
  script.
    //var player = plyr.setup();
    plyr.setup();

    var player = document.getElementsByClassName('player')[0].plyr;

    var sources = [
      {
        type: 'audio',
        sources: [{
          src: 'http://inumedia.io/whalestep.mp3',
          type: 'audio/mp3'
        }],
        autoplay: true
      },
      {
        type: 'youtube',
        sources: 'SZO5QYP-GeQ',
        autoplay: true
      }
    ];

    setInterval(function() {
      player.source(sources[Math.floor(Math.random() * 2)]);
    }, 5000);

    (function(d, p){
    var a = new XMLHttpRequest(),
        b = d.body;
    a.open("GET", p, true);
    a.send();
    a.onload = function(){
        var c = d.createElement("div");
        c.style.display = "none";
        c.innerHTML = a.responseText;
        b.insertBefore(c, b.childNodes[0]);
    }
    })(document, "/img/sprite.svg");
