extends layouts/flex

block content
  .player
    video

block scripts
  script.
    //var player = plyr.setup();
    var player = plyr.setup('.player')[0];

    //var player = document.querySelector('.player');

    var sources = [
      //{ src: 'http://inumedia.io/whalestep.mp3', type: 'audio/mp3' },
      { src: 'FyodeHtVvkA', type: 'youtube' },
      { src: 'FyodeHtVvkA', type: 'youtube' }
    ];


    player.source({
      type: 'youtube',
      sources: [sources[1]]
    });

    setInterval(function() {
      player.pause();
      
      var source = sources[Math.floor(Math.random() * 2)];
      console.log('source:', source);
      player.source({
        type: 'youtube',
        title: 'lolvid',
        sources: [source]
      });
      player.play();
    }, 5000);

    (function(d, p){
    var a = new XMLHttpRequest(),
        b = d.body;
    a.open("GET", p, true);
    a.send();
    a.onload = function(){
        var c = d.createElement("div");
        c.style.display = "none";
        c.innerHTML = a.responseText;
        b.insertBefore(c, b.childNodes[0]);
    }
    })(document, "/img/sprite.svg");
