extends layout

block content

  #stage
    .row-fluid
      .span3(ng-controller="PlaybackController")
        #current-track
          input(type="hidden", name="current-track-id", value="{{track.id}}") 
          #track-info
            #attribution
              a.pull-right#track-curator(title="added by", href="/{{track.curator.slug}}") {{track.curator.username || "--"}}
              a#track-artist(href="/{{track._artist.slug}}") {{track._artist.name || "--"}}
            marquee
              a#track-title(href="/{{track._artist.slug}}/{{track.slug}}") {{track.title || "--"}}
              
          #track-progress.progress.active
            .bar(style="width: 0%;")
            span#time 00:00

        .row-fluid
          .span2
            a.btn.btn-mini(href="#", data-action="toggle-volume", data-intro="<h5>Welcome to soundtrack.io!</h5>  Since you're new and we're polite, we've muted the sound.  You can turn it on here.", data-step="1", data-position="right")
              i.icon-volume-up
          .span9
            input.slider(type="text", name="volume", value="80", data-slider-min="0", data-slider-max="100", data-slider-value="80")

        if (user)
          .btn-group
            a.btn(href="#", onclick="$.post('/skip'); return false;") skip

          .btn-group.pull-right
            button.btn(ng-click="openPlaylists()") your playlists
            a.btn.dropdown-toggle(href="#", data-toggle="dropdown") add 
              span.caret
            ul.dropdown-menu(data-for="user-playlists")
              li(ng-repeat="playlist in playlists", data-playlist-id="{{playlist._id}}")
                a(ng-click="addToPlaylist(playlist, track)") {{playlist.name}}
              li(data-action="new-playlist")
                a(ng-click="createPlaylist(track)") Create New &raquo;

        //-h3#playlist-summary(ng-bind="'Playlist (' + tracks.length + ')'")
        #playlist
          ul#playlist-list.nav.nav-list(data-intro="If the playlist ever reaches zero, soundtrack.io will automatically choose song based on what's been played in the past.", data-step="3", data-position="right")
            li(ng-repeat="track in tracks", ng-class="{active: $first}", data-track-id="{{track._id}}")
              .playlist-controls
                .score.badge {{track.score}}
                i.icon-chevron-up(data-action="upvote-track", data-track-id="{{track._id}}")
                i.icon-chevron-down(data-action="downvote-track", data-track-id="{{track._id}}")
              img.thumbnail-medium.pull-left(ng-src="{{track.images.thumbnail.url}}")
              span(style="font-size: 0.75em;") {{track.curator.username}} wants to play 
              a(href="/{{track._artist.slug}}/{{track.slug}}/{{track._id}}")
                small.pull-right {{track.duration.toString().toHHMMSS()}}
                span {{track._artist.name}} &mdash; {{track.title}}

        h5 Add Track
        form#search-form.input-append(style="display:block;")
          if (user)
            input.input-block-level(type="text", placeholder="type here and press [ENTER] to search", data-intro="<h5>Queue a song!</h5>Search here for a track to add it to the playlist.", data-step="2", data-position="right")#search-query
            button.btn(type="submit")
              i.icon-share-alt
          else
            input.input-block-level(type="text", disabled, placeholder="you must be registered to do this!", data-intro="<h5>Queue a song!</h5>Search here for a track to add it to the playlist.", data-step="2", data-position="top")#search-query
        #search-results

      .span6
        #screen-one
          .screen-inner#screen-inner
        .chat-container(ng-controller="ChatController")
          #messages.fadeout-top
            each message in messages
              include partials/message
          form#chat-form.input-append(style="display:block;")
            if (user)
              input.input-block-level(type="text", autocomplete="off", placeholder="click here to join the conversation")#chat-input
              button.btn(type="submit")
                i.icon-share-alt
              button.btn(data-action="toggle-video")
                i.icon-chevron-up
            else
              input.input-block-level(type="text", autocomplete="off", disabled, placeholder="click here to join the conversation")#chat-input

      #decks
        #slot-1
        #slot-2
        #slot-3
        #slot-4
        #slot-5

      .span3(data-intro="<h5>Music is social!</h5>You can chat with all the other listeners here.  They're listening to the same exact music, at the same time!", data-step="4", data-position="left", ng-controller="UsersController")
        #audience
          h3 
            small.pull-right.user-count
              strong {{users.length}}
              |  online
            | Users
          ul.nav.nav-list#userlist(data-intro="<h5>One last thing...</h5>We're a work in progress, so you'll have to mind your step.  Until we implement AngularJS, you'll have to middle-click or ctrl+click these links to prevent them from interrupting the music.  Other than that, <strong>please enjoy!</strong>", data-step="5", data-position="left")
            li(ng-repeat="user in users", data-user-id="{{user.id}}", derp="{{user}}", herp="{{track}}", ng-class="getClass(user)")
              a(href="/{{user.slug}}", target="_blank") {{user.username}}

  if (!user)
    script.
      registered = false;
  else
    script.
      registered = true;
