extends layout

block content

  #stage
    .row-fluid
      .span3.padded-left
        .well
          #current-track
            input(type="hidden", name="current-track-id")

            //-h2#track-title #{room.playlist[0].title}
            #track-info
              #attribution
                #track-curator.pull-right
                a#track-artist(href="#", data-for="current-track-artist") Artist Name
              marquee
                a#track-title(href="#") foo
            #track-progress.progress.active
              .bar(style="width: 0%;")
              span#time 00:00

          .row-fluid.track-controls(style="display: none;")
            .span2
              a.btn.btn-mini(href="#", data-action="toggle-volume", data-intro="<h5>Welcome to soundtrack.io!</h5>  Since you're new and we're polite, we've muted the sound.  You can turn it on here.", data-step="1", data-position="right")
                i.icon-white.icon-volume-up
            .span9
              input.slider(type="text", name="volume", data-for="volume", value="80", data-slider-min="0", data-slider-max="100", data-slider-value="80")

          .inverted.btn-group
            a.btn.btn-mini(href="#", data-action="toggle-volume", data-intro="<h5>Welcome to soundtrack.io!</h5>  Since you're new and we're polite, we've muted the sound.  You can turn it on here.", data-step="1", data-position="right")
              i.icon-white.icon-volume-up  
            if (user)
              a.btn.btn-mini(href="#", data-action="skip-track") skip
            if (user && room._owner && room._owner._id && (user._id.toString() === room._owner._id.toString()) || (user && user.roles && ~user.roles.indexOf('admin')))
              a.btn.btn-mini(data-action="ban-track", data-for="current-track-id") ban

            if (user && user.roles.indexOf('editor') >= 0)
              a.btn.btn-mini(href="#", data-action="launch-track-editor", data-for="current-track-id") edit
            //-if (user)
              if (user.profiles.changetip && user.profiles.changetip.token)
                a.btn.btn-mini.tooltipped(href="#", data-action="tip-current-curator", title="Give whoever queued this track 1 bit (that's 0.000001 Bitcoin)") tip
              else
                a.btn.btn-mini.tooltipped(href="/auth/changetip", title="Give whoever queued this track 1 bit (that's 0.000001 Bitcoin)") tip
            //-a.btn.btn-mini(href="#", data-action="toggle-track-controls") ...

            if (user)
              //- COMPONENT MARKER: <soundtrack-playlist-manager>
              //-a.btn(href="#playlist-modal", data-toggle="modal") your playlists
              a.btn.btn-mini.dropdown-toggle(href="#", data-toggle="dropdown") add to 
                span.caret
              ul.dropdown-menu#user-playlists-dropdown(data-for="user-playlists")
                if (playlists.length >= 10)
                  li(data-action="new-playlist")
                    a(href="#create-playlist-modal", data-toggle="modal") Create New &raquo;
                for playlist in user.playlists
                  li(data-playlist-id="#{playlist._id}")
                    a(data-playlist-id="#{playlist._id}", data-action="save-track") #{playlist.name}
                li(data-action="new-playlist")
                  a(href="#create-playlist-modal", data-toggle="modal") Create New &raquo;

          //-h3#playlist-summary(ng-bind="'Playlist (' + tracks.length + ')'")
          #playlist
            h5(style="text-transform: uppercase; margin: 0; margin-top: 5px;") Coming Up Next...
            ul#playlist-list.nav.nav-list(data-intro="If the playlist ever reaches zero, soundtrack.io will automatically choose song based on what's been played in the past.", data-step="3", data-position="right")
              li(ng-show="tracks.length === 1")
                h4 The queue is empty!
                p Add a track using the searchbox below.
              li(ng-repeat="track in tracks", ng-class="{active: $first}", ng-style="{top: ((track.order * 40) + 'px')}", ng-model="track", data-track-id="{{track._id}}")
                .playlist-controls
                  .score.badge {{track.score}}
                  i.icon-chevron-up.icon-white(data-action="upvote-track", data-track-id="{{track._id}}")
                  i.icon-chevron-down.icon-white(data-action="downvote-track", data-track-id="{{track._id}}")
                  if (user && user.roles.indexOf('editor') >= 0)
                    .editor-controls
                      a.btn.btn-mini(href="#", data-action="launch-track-editor", data-track-id="{{track._id}}")
                        | edit
                div(style="font-size: 0.75em;")
                  span.pull-right {{track.duration | toHHMMSS }}
                  a(href="{{track.curator.slug}}") {{track.curator.username}}
                  |  wants to play 
                  - if (!room._owner._id && room._owner) room._owner = { _id: room._owner };
                  if (user && room._owner && room._owner._id && (user._id.toString() === room._owner._id.toString()) || (user && user.roles && ~user.roles.indexOf('admin')))
                    |  
                    a(href="#", data-action="remove-queued-track", data-track-id="{{track._id}}", data-track-index="{{$index}}")
                      i.icon-remove.icon-white
                .track-details(style="font-size: 1.1em;")
                  img.thumbnail-medium.pull-left(ng-src="{{track.images.thumbnail.url}}")
                  a(href="/{{track._artist.slug}}/{{track.slug}}/{{track._id}}") {{track.title}}
                .track-details.clearfix
                  .text-right
                    .label.label-warning(ng-if="track.flags.nsfw") nsfw
                    .label(ng-if="track.flags.live") live
                    |  by 
                    a(href="/{{track._artist.slug}}") {{track._artist.name}}

          
          h5
            .pull-right.tooltipped(ng-bind="playlistLength | toHHMMSS", title="Length of all tracks in the playlist")
            | Add Track
          form#search-form.input-append(style="display:block;", data-for="track-search")
            if (user)
              input.input-block-level(type="text", data-for="track-search-query", placeholder="type here and press [ENTER] to search", data-intro="<h5>Queue a song!</h5>Search here for a track to add it to the playlist.", data-step="2", data-position="right")#search-query
              button.btn(type="submit")
                i.icon-share-alt
            else
              input.input-block-level(type="text", data-for="track-search-query", disabled, placeholder="you must be registered to do this!", data-intro="<h5>Queue a song!</h5>Search here for a track to add it to the playlist.", data-step="2", data-position="top")#search-query

      .span6.unpadded
        #screen-one
          video(id="main-player", class="video-js vjs-default-skin", width="100%", height="295")
        .chat-container
          #messages.fadeout-top
            each message in messages
              include partials/message
          form#chat-form.input-append(style="display:block;")
            if (user)
              input.input-block-level(type="text", autocomplete="off", placeholder="click here to join the conversation")#chat-input
              button.btn(type="submit")
                i.icon-share-alt
              button.btn(data-action="toggle-video", type="button")
                i.icon-chevron-up
            else
              input.input-block-level(type="text", autocomplete="off", disabled, placeholder="click here to join the conversation")#chat-input

      #decks
        #slot-1
        #slot-2
        #slot-3
        #slot-4
        #slot-5

      .span3.padded-right
        .well(data-intro="<h5>Music is social!</h5>You can chat with all the other listeners here.  They're listening to the same exact music, at the same time!", data-step="4", data-position="left")
          #audience
            h3 
              small.pull-right.user-count
              | Users
            ul.nav.nav-list#userlist(data-intro="<h5>One last thing...</h5>We're a work in progress, so you'll have to mind your step.  Until we implement AngularJS, you'll have to middle-click or ctrl+click these links to prevent them from interrupting the music.  Other than that, <strong>please enjoy!</strong>", data-step="5", data-position="left")
