extends layout

block content
  h1 People on soundtrack.io

  ul
    each person in people
      li
        a(href="/#{person.slug}")
          img.user-avatar-small(src="#{person.avatar.url}")
          | #{person.username}
          - if (person.bio.length)
            .badge has bio