extends layout

block content

  .well.content-well
    h1 #{tracks.length} #{(tracks.length == 1) ? "Track" : "Tracks"} Currently in Queue Pool
    p Chosen from tracks played during the previous 7 days at the present time of day (3 hour rolling window).

    h2 Query used (for debug purposes)
    pre #{JSON.stringify(query)}

    table.table.tablesorter
      thead
        tr
          th Artist
          th Title
          th Length
          th Plays
          th Controls
      tbody
        for track in tracks
          - var disallowPlaylists = true
          - var banControls = true
          include partials/track-row

    h2 #{room.bans._tracks.length} Banned Tracks
    p Banned tracks will not be selected by the machine when on random mode.  However, users can still queue these tracks.  See also <a href="#">User Bans</a>.
    table.table.tablesorter
      thead
        tr
          th Artist
          th Title
          th Length
          th Plays
          th Controls
      tbody
        for track in room.bans._tracks
          - var disallowPlaylists = true
          include partials/track-row
