extends layout

block content
  .well.content-well
    h1 Import Set
    
    if (playlists.length)
      table.table.tablesorter
        for playlist in playlists
          tr
            td #{playlist.name}
            td #{playlist.tracks.total} tracks
            td
              a.btn(href="/sets/sync/spotify?playlist=#{JSON.stringify({ source: 'spotify', id: playlist.id, user: playlist.owner.id })}") import &raquo;
    else
      p You don't have any playlists on Spotify. :(
