body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#screen-one {
  margin-left: auto;
  margin-right: auto;
  /*width: 480px;*/
}

#track-info a:hover { text-decoration: none; }
#track-title, #attribution {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#current-track #track-title {
  height: 1.5em;
  font-size: 1.5em;
}
#track-artist

#search-results li {
  cursor: pointer;
}
#search-results li:hover {
  background: #ccc;
}
#messages, #playlist, #userlist {
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#playlist {
  height: 322px;
}
#userlist {
  height: 500px;
}
#announcement{
  color: #08C;
  font-size: 0.8em;
}
.chat-container {
  /*width: 480px; */
  margin-left: auto;
  margin-right: auto;
}

.message {
  clear: both;
}

.message abbr.timestamp {
  font-size: 0.75em;
}
.message strong[data-role=author] {
  cursor: pointer;
}

.highlight {
  background: #ffffd5;
}

.user-avatar-small {
  max-height: 1.2em;
  margin-right: 0.2em;
}

.thumbnail-medium {
  max-height: 2.4em;
  margin-right: 0.2em;
}

.media img {
  max-height: 2.4em;
}

.playlist-controls {
  float:left;
  padding-right: 5px;
}
.active .playlist-controls {
  visibility: hidden;
  display: none;
}
.playlist-controls .score {
  float: right;
  margin: 7px 0 0 15px;
}
.playlist-controls i {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}
.playlist-controls i:hover {
  opacity: 1;
}

#playlist-list li {
  clear: both;
}

#track-progress {
  position: relative;
}

#time {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  display: block;
  text-shadow: 1px 1px 1px #aaa;
}

.fadeout-top {
  position: relative;
}
.fadeout-top:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 10px;

  /* hilarious */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}