body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#screen-one {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

#current-track #track-title {
  height: 50px;
}

#search-results li {
  cursor: pointer;
}
#search-results li:hover {
  background: #ccc;
}
#messages, #playlist {
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#playlist {
  height: 280px;
}

.message {
  clear: both;
}
.message abbr.timestamp {
  font-size: 0.75em;
}

.user-avatar-small {
  max-height: 1.2em;
  margin-right: 0.2em;
}

.thumbnail-medium {
  max-height: 2.4em;
  margin-right: 0.2em;
}

.media img {
  max-height: 2.4em;
}

.playlist-controls {
  float:left;
  padding-right: 5px;
}
.active .playlist-controls {
  visibility: hidden;
  display: none;
}
.playlist-controls .score {
  float: right;
  margin: 7px 0 0 15px;
}
.playlist-controls i {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}
.playlist-controls i:hover {
  opacity: 1;
}