body {
  padding-top: 41px;
  padding-bottom: 40px;
  background: url('/img/binding_dark.png') rgb(22,22,22);
  color: rgb(208,208,208);
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background: rgb(33,33,33);
  border-radius: 0;
  border: 0;
  color: rgb(208,208,208);
}
.nav-list {
  /*border: 1px solid rgb(33,33,33);*/
  padding: 0;
}
.nav-list>li {
  border-top: 1px solid rgb(33,33,33);
  border-bottom: 1px solid black;
}
.nav-list>li:hover {
  border-bottom: 1px solid rgb(22,22,22);
}
.nav-list>li>a {
  text-shadow: none;
  padding: 3px 15px 3px 22px;
}
.nav-list>li:hover {
  background: rgb(33,33,33);
}
.module {
  background: rgb(22,22,22);
  padding-top: 19px;
}
.container.module {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 7px 0px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 7px 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.row-fluid [class*="span"].module-left {
  margin: 0;
  padding: 3px;
  border-right: 1px solid rgb(33,33,33);
  border-left: 1px solid rgb(22,22,22);
}
.row-fluid [class*="span"].module-center {
  margin: 0;
  padding: 3px;
  border-right: 1px solid rgb(33,33,33);
  border-left: 1px solid rgb(22,22,22);
}
.row-fluid [class*="span"].module-right {
  margin: 0;
  padding: 3px;
  border-right: 1px solid rgb(33,33,33);
  border-left: 1px solid rgb(22,22,22);
}
.modal {
  background: rgb(33,33,33);
}
.modal-header, .modal-body {
  border-bottom: 1px solid rgb(11,11,11);
}
.modal-body, .modal-footer {
  border-top: 1px solid rgb(44,44,44);
}
.modal-footer {
  background: rgb(22,22,22);
  box-shadow: none;
}
.dropdown-menu {
  color: rgb(208,208,208);
  background-color: rgb(11,11,11);
}
.well {
  padding: 12px;
}
.row-fluid [class*="span"].unpadded {
  padding: 0;
  margin: 0;
  width: 541px;
  margin: 0 12px;
}
.row-fluid [class*="span"].padded-left {
  padding-left: 12px;
  width: 302px;
}
.row-fluid [class*="span"].padded-right {
  padding-right: 12px;
  margin-left: 0;
  width: 302px;
}
.stage {
  border-bottom: 1px solid rgb(22,22,22);
}
footer {
  font-size: 0.9em;
  -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px -1px 10px rgba(0, 0, 0, 0.75);
  box-shadow:         0px -1px 10px rgba(0, 0, 0, 0.75);
  border-top: 1px solid rgb(44,44,44);
  padding: 24px;
  background: url('/img/txture.png') rgb(22,22,22);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: -5px;
}
.navbar .brand {
  padding: 10px 0px 10px;
}
.navbar a.brand {
  padding-left: 12px;
  margin-left: 0;
  /* width: 258px; /* remove to align the navbar controls with left column */
}
.navbar a.brand img {
  max-height: 1em;
  /* padding-right: 0.5em; */
  margin-bottom: -0.2em;
  vertical-align: top;
}
.navbar a.brand img:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1300ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1300ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1300ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
.content-well {
  margin: 0 12px 12px;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#chat-form .input-block-level {
  width: 464px;
}

#playlist-list > li:hover *[data-action=launch-track-editor] {
    display: inline-block;
}

#playlist-list > li *[data-action=launch-track-editor] {
    display: none;
}

@media (max-width: 1199px) {
  #chat-form .input-block-level {
    width: 382px;
  }
  .span6.unpadded {
    width: 460px;
  }
  .row-fluid [class*="span"].unpadded {
    width: 614px;
  }
  .row-fluid .span3.padded-right {
    margin-left: 1em;
    width: calc(100% - 1em);
  }
  .row-fluid .span3.padded-right .nav-list {
    border: 0;
  }
  .row-fluid .span3.padded-right .nav-list > li {
    display: inline-block;
    margin: 1.5em;
    border: 0;
  }
  .row-fluid .span3.padded-right .nav-list > li a {
    padding: 0.5em;
  }
  .row-fluid .span3.padded-right #userlist {
    height: auto;
  }

}

@media (max-width: 979px) {
  body {padding:0;}

  .container {
	width: 100%;
	margin-left:0;
	margin-right:0;
 }

 footer {margin:0;}

  #chat-form .input-block-level {
    width: 275px;
  }
}
@media (max-width: 781px) {
  #chat-form .input-block-level {
    width: 100%;
  }
  #chat-form button {
    display: block;
    width: 100%;
  }
}

#screen-one {
  margin-left: auto;
  margin-right: auto;
  /*width: 480px;*/
}

#track-info a:hover { text-decoration: none; }
#track-title, #attribution {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#current-track #track-title {
  height: 1.5em;
  font-size: 1.5em;
  overflow: inherit;
}
#track-artist {

}
#search-results li {
  cursor: pointer;
}
#search-form .input-block-level {
  width: 227px;
}
#messages, #playlist, #userlist {
  height: 262px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#messages {
  padding-bottom: 0.2em;
}
#playlist {
  height: 382px;
  clear: both;
}
#userlist {
  height: 508px;
}
#user-playlists-dropdown, .user-playlists-dropdown {
  max-height: 300px;
  overflow-y: scroll;
}
#user-playlists-dropdown a, .user-playlists-dropdown a {
  cursor: pointer;
}
.dropdown-menu>li>a {
  color: lightgrey;
}
.dropdown-menu.user-playlists-dropdown>li>a:hover, .dropdown-menu.user-playlists-dropdown>li>a:focus, .dropdown-submenu.user-playlists-dropdown:hover>a, .dropdown-submenu.user-playlists-dropdown:focus>a,.dropdown-submenu.user-playlists-dropdown>a {
  color: white;
}

#announcement{
  color: #08C;
  font-size: 0.8em;
}
.chat-container {
  /*width: 480px; */
  margin-left: auto;
  margin-right: auto;
}

.message {
  clear: both;
}

.message abbr.timestamp, abbr.track-length {
  font-size: 0.75em;
}
.message strong[data-role=author] {
  cursor: pointer;
}

.highlight {
  background: rgb(33,33,33);
}

.user-avatar-small, .avatar-small {
  max-height: 1.2em;
  margin-right: 0.2em;
}
.avatar {
  max-height: 2.5em;
  margin-right: 0.5em;
}
.avatar-large {
  max-height: 5em;
  max-width: 10em;
  margin-right: 1em;
  border: 5px solid black;
}

.thumbnail-medium {
  max-height: 2.4em;
  margin-right: 0.2em;
}

.media img {
  max-height: 2.4em;
}

#userlist li.current-curator {
  font-weight: bold;
}

.playlist-controls {
  float:left;
  margin-right: 5px;
}
.active .playlist-controls {
  visibility: hidden;
  display: none;
}
.playlist-controls .score {
  float: right;
  margin: 7px 0 0 15px;
}
.playlist-controls i {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}
.playlist-controls i:hover {
  opacity: 1;
}

#playlist-list li {
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding-left: 0.2em;
}
#playlist-list li.active {
  display: none;
}

#track-progress {
  position: relative;
}

#time {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  display: block;
  /*text-shadow: 1px 1px 1px #aaa;*/
}

.btn {
  text-shadow: none;
}

.fadeout-top {
  box-shadow: inset 0 20px 20px -20px #000000;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0))); */
}

.progress {
  margin-bottom: 10px;
}

td > p {
  max-width: 400px;
}

/* ######################################### */
/* #### Responsive Tweaks by jDizzy on 140311 #### */
/* ######################################### */
/* begin le Dizzcode */
@media (max-width:1199px) and (min-width:980px){
  #chat-form .input-block-level {
    width: 536px;
  }
 }

@media (max-width: 979px) {
  body {padding:0;}
  .container {
  width: 100%;
  margin-left:0;
  margin-right:0;
 }

 footer {margin:0;}

 }

 @media (max-width:979px) and (min-width:768px){
  #chat-form .input-block-level {
    width: 85%;
  }
 }

 @media (max-width: 979px) and (min-width: 945px) {
  .row-fluid [class*="span"].padded-left {
    padding-left:0;
    width:290px;
  }
}

@media (max-width: 944px) {
  .row-fluid [class*="span"].padded-left {
  width:100%;
  padding-left:12px;
  padding-right:12px;
 }

  #playlist {
    height:auto;
    max-height:200px;
  }

  .row-fluid [class*="span"].unpadded {
    width:100%;
    padding:0 12px;
    margin:0;
  }

  #search-form .input-block-level {
    width: 90%;
  }
}

@media (max-width:767px){
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
  margin-right: 0;
  margin-left: 0;
  }
}
/* end le Dizzcode */


/* videoJS stuff */
.vjs-fade-in,.vjs-fade-out {
  visibility: visible !important;
  opacity: 1 !important;
  transition-duration: 0s!important;
}

.vjs-default-skin .vjs-progress-holder {
  height: 100%;
  pointer-events: none;
}

.vjs-default-skin .vjs-play-control {
  display:none;
}

/* pointer patch from @chrisinajar */
.tooltip {
  pointer-events: none;
}
