body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#screen-one {
  margin-left: auto;
  margin-right: auto;
  /*width: 480px;*/
}

#track-info a:hover { text-decoration: none; }
#track-title, #attribution {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#current-track #track-title {
  height: 1.5em;
  font-size: 1.5em;
}
#track-artist

#search-results li {
  cursor: pointer;
}
#search-results li:hover {
  background: #ccc;
}
#messages, #playlist, #userlist {
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#playlist {
  height: 338px;
}
#userlist {
  height: 500px;
}
#announcement{
  color: #08C;
  font-size: 0.8em;
}
.chat-container {
  /*width: 480px; */
  margin-left: auto;
  margin-right: auto;
}

.message {
  clear: both;
}

.message abbr.timestamp {
  font-size: 0.75em;
}
.message strong[data-role=author] {
  cursor: pointer;
}

.highlight {
  background: #ffffd5;
}

.user-avatar-small, .avatar-small {
  max-height: 1.2em;
  margin-right: 0.2em;
}
.avatar {
  max-height: 2.5em;
  margin-right: 0.5em;
}
.avatar-large {
  max-height: 5em;
  max-width: 10em;
  margin-right: 1em;
  border: 5px solid black;
}

.thumbnail-medium {
  max-height: 2.4em;
  margin-right: 0.2em;
}

.media img {
  max-height: 2.4em;
}

#userlist li.current-curator {
  font-weight: bold;
}

.playlist-controls {
  float:left;
  padding-right: 5px;
}
.active .playlist-controls {
  visibility: hidden;
  display: none;
}
.playlist-controls .score {
  float: right;
  margin: 7px 0 0 15px;
}
.playlist-controls i {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}
.playlist-controls i:hover {
  opacity: 1;
}

#playlist-list li {
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

#track-progress {
  position: relative;
}

#time {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  display: block;
  text-shadow: 1px 1px 1px #aaa;
}

.fadeout-top {
  box-shadow: inset 0 20px 20px -20px #000000;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0))); */
}